<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body>
    <!-- Google Tag Manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NX68GE0KX2"></script>
    <!-- End Google Tag Manager -->
    {{- partial "preloader.html" . -}}
    {{- partial "header.html" . -}}
    {{ if not .IsHome }} <div class="py-5 d-none d-lg-block"></div> {{ end }}
    {{- block "main" . }}
    {{- end }}
    {{- partial "footer.html" . -}}
</body>

</html>