{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto block shadow mb-5">
        <h2>{{ .Title | markdownify }}</h2>
        <div class="mb-3 post-meta">
          <a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize | lower }}">{{ .Params.Author | title }}</a>,
          {{ .PublishDate.Format "02/01/2006" }}, {{ range .Params.Categories }}
          <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}">{{ . | title }}</a>
          {{ end }}
        </div>
        {{ if .Params.Image }}
        <img src="{{ .Params.Image | relURL }}" class="img-fluid w-100 mb-4 head-img" alt="{{ .Title | markdownify }}">
        {{ end }}
        <div class="content mb-5">
          {{ .Content }}
        </div>
        <div class="mb-3 post-meta">
          {{range .Params.Tags }} <a href="{{ `tags/` | relLangURL}}{{ . | urlize | lower }}">#{{ . | title }}</a>,  {{ end }}
        </div>
      </div>
      <div class="col-lg-8 mx-auto block shadow">
        <div class="previous-post" style="float: right;">
          {{ if .PrevPage }}
          <a class="link-reverse mb-3" href="{{ .PrevPage.Permalink }}?ref=footer">{{ .PrevPage.Title | truncate 50 "..."}} »</a>
          {{ end }}
        </div>
        <div class="next-post mb-3" style="float: left;">
          {{ if .NextPage }}
          <a class="link-reverse" href="{{ .NextPage.Permalink }}?ref=footer">« {{ .NextPage.Title | truncate 50 "..." }}</a>
          {{ end }}
        </div>
      </div>
      {{ if .Site.DisqusShortname}}
      <div class="col-lg-8 mx-auto block shadow">
        <!-- comments -->
        {{ template "_internal/disqus.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}