{{ define "main" }}

<section class="tm-banner">
  <!-- Flexslider -->
  <div class="flexslider flexslider-banner">
    <ul class="slides">
      <li>
        <div class="tm-banner-inner">
        <h1 class="tm-banner-title">Precios <span class="tm-yellow-text">outlet</span> en <span class="tm-yellow-text">gafas</span></h1>
        <p class="tm-banner-subtitle">de primeras marcas</p>
        <a href="#more" class="tm-banner-link">Leer más</a>	
      </div>
      <img class="i-big" src="img/banner-1.jpg" alt="Image" />
      <img class="i-small" src="img/banner-1-s.jpg" alt="Image" />
      </li>
      <li>
        <div class="tm-banner-inner">
        <h1 class="tm-banner-title">Gafas <span class="tm-yellow-text">deportivas</span></h1>
        <p class="tm-banner-subtitle">a precios sorprendentes</p>
        <a href="gafas-deportivas.html" class="tm-banner-link">Leer más</a>	
      </div>
      <img class="i-big" src="img/banner-2.jpg" alt="Image" />
      <img class="i-small" src="img/banner-2-s.jpg" alt="Image" />
      </li>
      <li>
        <div class="tm-banner-inner">
        <h1 class="tm-banner-title">Gafas <span class="tm-yellow-text">en Promoción</span></h1>
        <p class="tm-banner-subtitle">Gafas de marca adaptadas a tu bolsillo</p>
        <a href="promo.html" class="tm-banner-link">Leer más</a>	
      </div>
      <img class="i-big" src="img/banner-3.jpg" alt="Image" />
      <img class="i-small" src="img/banner-3-s.jpg" alt="Image" />
      </li>
    </ul>
  </div>	
</section>


{{ end }}